{
    "tabWidth": 2,
    "useTabs": false,
    "overrides": [
        {
            "files": [".prettierrc", "*.json"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
